@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
                        /*VARIABLES CSS*/

:root {
    /*===== Colors =====*/
    --hue-color:242;
    /*vert : 17a035*/
    /*rouge : #db000e*/
    /*bleu : #
                        
    /* HSL Color Mode */
     --skin-color-red: #db000e;
     --skin-color: #17a035;
     --title-color: hsl(var(--hue-color), 8%, 95%);
     --text-color: hsl(var(--hue-color), 8%, 85%);
     --body-color: hsl(var(--hue-color), 19%, 5%);
     --box-color: hsl(var(--hue-color), 14%, 10%);
     --scroll-bar-color: hsl(var(--hue-color), 12%, 38%);
     --scroll-thumb-color: hsl(var(--hue-color), 12%, 26%);
    
                        
     /*===== Font and Typography =====*/
     --body-font: 'Poppins', sans-serif;
                        
     /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
     --biggest-font-size: 3rem;
     --h1-font-size: 2.25rem;
     --h2-font-size: 1.5rem;
     --h3-font-size: 1.25rem;
     --normal-font-size: 1rem;
     --small-font-size: .875rem;
     --smaller-font-size: .813rem;
                        
     /*===== Font Weight =====*/
     --font-medium: 500;
     --font-bold: 600;
                        
     /*===== Margenes Bottom =====*/
      --mb-0-25: .25rem;
      --mb-0-5: .5rem;
      --mb-0-75: .75rem;
      --mb-1: 1rem;
      --mb-1-5: 1.5rem;
      --mb-2: 2rem;
      --mb-2-5: 2.5rem;
      --mb-3: 3rem;
                        
     /*===== Z Index =====*/
    --z-fixed: 10;
    --z-modal: 100;
}
                        
/* Responsive Typography */
@media screen and (max-width: 1024px) {
    :root {
         --biggest-font-size: 2rem;
         --h1-font-size: 1.5rem;
         --h2-font-size: 1.25rem;
         --h3-font-size: 1.125rem;
         --normal-font-size: .938rem;
         --small-font-size: .813rem;
         --smaller-font-size: .75rem;
         
    }
}

                        /*Tous les éléments de la page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

                        /*La page web*/

html{

    scroll-behavior: smooth;
}

body, button, input{
    font-size: var(--body-font);
    font-size: var(--normal-font-size);
}

body{
    background-color: var(--body-color);
    color: var(--text-color);
}
                        /* Tous Les titres*/

h1, h2 h3{
    color: var(--title-color);
    font-family: var(--font-bold);
}
                        /* Toutes Les listes à puces*/

ul{
    list-style: none;
}
                        /* Tous Les liens*/

a{
    text-decoration: none;
    color: white;
}
                        /*Toutes les images*/

img{
    max-width: 100%;
    height: auto;
}
                        /*Tous les boutton*/

button{
    cursor: pointer
}
                        /*Tous les boutton formulaire*/

button, input{
    border: none;
    outline: none;
}

/*========== SIDEBAR ==========*/

.sidebar{
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: var(--body-color);
    border-right: 1px solid var(--box-color);
    transition: .5s;
}

.nav__logo{
    position: absolute;
    left: 0;
    right: 0;
    top: 1.8rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--skin-color);
    text-align: center;
    margin: auto;
    
}

.nav__logo-text{
    font-size: 1.125rem;
    color: var(--title-color);
    font-weight:  var(--font-bold);
    line-height: 40px;

}

.nav__menu{
    position: fixed;
    transform: rotate(-90deg) translate(-100%);
    transform-origin: left top;
    width: 100vh;

}

.menu{
    display: flex;
}

.nav__list{
    display: flex;
    flex-direction: row-reverse;
    margin: -2px auto 0 auto;

}

.nav__link{
    float: right;
    height: 100%;
    line-height: 100px;
    padding: 0 1.5rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    position: relative;
    transition: 1s;
    
}

/*Change color variable logo*/

#one{

    width: 50px;
    height: 50px;
    cursor: pointer;
}

.btn__share{
    position: absolute;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.5rem;
}

.nav__toggle{
    height: 36px;
    width: 36px;
    cursor: pointer;
    position: fixed;
    right: 1.5rem;
    top: 2rem;
    font-size: 1.2rem;
    border-radius: .25rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.nav__close{
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    display: none;
}
/*========== SIDE BAR LIENS  ==========*/

.nav__link.active-link, .nav__link:hover{
    color: var(--skin-color);

}

.nav__link.nav__link.active-link::after, .nav__link:hover::after{
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    background-color: var(--skin-color);
    border-radius: 50%;
    bottom: 1.8rem;
    left: 0;
    right: 0;
    margin: auto;
}



/*========== MAIN  ==========*/
.main{
    margin-left: 100px;
}

/*========== LAYOUT  ==========*/

.container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
}

.grid{
    display: grid;

}


/*========== HOME SECTION  ==========*/
.home{

    background-size: cover;
    background-position: center;
    height: 100vh;
    background-color: #18181E;
}

.home__container{
    position: relative;
    height: 100%;
    align-items: center;
}

.home__social{
    position: absolute;
    top: 1.8rem;
    left: 0;
    display: flex;
    align-items: center;
    column-gap: 3.5rem;
}

.home__social-follow{
    font-weight: var(--font-medium);
    position: relative;
}

.home__social-follow::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2px;
    background-color: var(--text-color);
    right: -45%;
    top: 50%;
}

.home_social-links{
    display: inline-flex;
    column-gap: 1rem;
}
.home__social-link {
    font-size: 1.8rem;
    color: var(--skin-color);
    transition: .4s;
    margin-left: 1rem;
}

.home__social-link:hover{
    transform: translateY(.25rem);
}

/*Photo de home et animation*/

.home__img{
    margin-left: 3rem;
    background: url(img/photo-perso/photo-profil.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: inset 0 0 0 5px var(--skin-color);
    justify-self: center;
    height: 550px;
    width: 550px;
    animation: profile__animate 8s ease-in-out infinite 1s;
}

article{
    display: flex;
    align-items: center;
}



@keyframes profile__animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.home__title{
    font-size: var(--biggest-font-size);
}

.home__subtitle{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-75);
}

.home__decription{
    max-width: 450px;
    margin-bottom: var(--mb-2);
}
.my__info{
    display: flex;
    column-gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 1.8rem;
}

.info__item{
    display: flex;
    align-items: center;
}

.info__title, .info__subtitle{
    font-size: var(--small-font-size);
}

.info__title{
    font-weight: var(--font-medium);
}
.info__icon{
    font-size: 1.8rem;
    color: var(--skin-color);
    margin-right: var(--mb-0-75);
}

/*========== BUTTONS  ==========*/

.button{
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    background-color: var(--skin-color);
    color: var(--title-color);
    padding: .75rem 1.4rem;
    border-radius: .25rem;
    font-weight: var(--font-medium);
    position: relative;
    z-index: 1;
}

.button::after{
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #343a40;
    z-index: -1;
    transform-origin: center;
    transform: scale(0);
    border-radius: .25rem;
    transition: .3s;
}

.button:hover::after{
    transform: scale(1);

}

.button__icon{
    font-size: 1.25rem;

}

/*Reusable classe*/
    .section{
        padding: 6.5rem 0 2rem;
    }

    .section__title{
        text-align: center;
        font-size: var(--h1-font-size);
        margin-bottom: var(--mb-3);
    }

    .section__title::before{
        content: attr(data-heading);
        display: block;
        font-size: var(--normal-font-size);
        font-weight: var(--font-medium);
        color: var(--skin-color);    
    }
/*ABOUT SECTION*/

.about__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    align-items: center;
}

.about__img{
    width: 480px;
    border-radius: 0.75rem;
    justify-self: center;
}

.about__heading{
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-75);

}

.about__description{
    text-align: center;
    padding-right: 6rem;
    margin-bottom: var(--mb-2);
}

.about__info{
    grid-template-columns: repeat(3, 140px);
    column-gap: .5rem;
    margin-bottom: var(--mb-3);

}

.about__box{
    text-align: center;
    border-radius: .25rem;
    padding: 1rem 1.25rem;
    background-color: var(--box-color);
}

.about__box a{
    text-decoration: underline;
    cursor: pointer;
}



.about__icon{
    font-size: 1.5rem;
    margin-bottom: var(--mb-0-75);
    color: var(--skin-color);
}

.about__title{
    font-size: var(--small-font-size);
}

.about__subtitle{
    font-size: var(--small-font-size);
    color: white;

}



/*SKILLS SECTION*/
.skills{
    margin-top: 200px;
}
.skills__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 150px;
}

.skills__container .card{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 220px;
    height: 250px;
    background-color:var(--box-color);
    border-radius: .25rem;
    
}
/*PROGRESS BAR*/


.skills__container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;


}

.skills__container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

.skills__container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);

}

.skills__container .card .percent svg circle:nth-child(2){
    stroke: var(--skin-color);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
    
}


.percent .dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg *var(--num)));
    /*360deg / 100 = 3.6*/
    animation: animateDot 2s linear forwards;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes animateDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.percent .dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: var(--skin-color);
    box-shadow: 0 0 10px var(--skin-color), 0 0 20px var(--skin-color);
}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.number span{
    font-weight: 100;

}

/*Work section*/
.work{
    margin-top: 150px;
}
.work__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 1.5rem;
    gap: 50px;
}

.work__filters{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .75rem;
    margin-bottom: 2rem;
}
.work__item{
    cursor: pointer;
    color: var(--title-color);
    padding: .25rem .75rem;
    font-weight: var(--font-medium);
    border-radius: .5rem;
}

.work__card{
    background-color: var(--box-color);
    padding: 1.25rem;
    border-radius: .5rem;
    width: 450px;
}

.portfolio__item-details{
    display: none;
}

.work__img{
    border-radius: .5rem;
    margin-bottom: var(--mb-1);
}

.work__title{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-0-5);

}

.work__button{
    color: var(--skin-color);
    font-size: var(--small-font-size);
    display: flex;
    align-items: center;
    column-gap: .25rem;
    cursor: pointer;
}

.work__button-icon{
    font-size: 1rem;
    transition: .3s;
}

.work__button:hover .work__button-icon{
    transform: translateX(.25rem);
}

/*Active Item work*/
.active-work{
    background-color: var(--skin-color);
    color: var(--title-color);
    border-radius: .5rem;
    padding: .25rem .75rem;

}

/*Portfolio pop up*/

.portfolio__popup{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    z-index: var(--z-modal);
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.portfolio__popup.open{
    opacity: 1;
    visibility: visible;
}

.portfolio__popup-inner{
    background-color: var(--box-color);
    width: 900px;
    border-radius: .5rem;
    padding: 2.5rem;
    position: relative;

}
.portfolio__popup-content{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 3rem;
}

.portfolio__popup-close{
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--skin-color);
    cursor: pointer;
}

.portfolio__popup-img{
    border-radius: .5rem;
}

.portfolio__popup-subtitle{
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-0-25);
}

.details__title{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
}

.details__description{
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-2);
}

.details__info li{
    margin-bottom: var(--mb-0-75);
    text-transform: capitalize;
    font-size: var(--small-font-size);
}

.details__info li:last-child{
    margin-bottom: 0;
}

.details__info li span{
    font-weight: normal;
}

.details__info li a{
    text-transform: lowercase;
    color: var(--skin-color);
}
/*Footer*/
footer{
    margin-top: 150px;
}
.parent{
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #18181E;
}
.menufooter{
    position: relative;
    width: 280px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menufooter li{
    position: absolute;
    left: 0;
    transition: 0.5s;
    transition-delay: calc(0.1s * var(--i));
    transform-origin: 140px;
    transform: rotate(0deg) translateX(110px);

}
.menufooter li a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    color: var(--skin-color);
    border: 2px solid var(--skin-color);
    border-radius: 50%;
    font-size: 1.5em;
    transform: rotate(calc(360deg / -4 * var(--i)));

}

.menufooter li a:hover{

    background-color: var(--skin-color);
    color: #333;
    box-shadow: 0 0 0 10px var(--skin-color),
    0 0 30px var(--skin-color),
    0 0 50px var(--skin-color);
}
.menufooter.activeli li{

    transform: rotate(calc(360deg / 4 * var(--i))) translateX(0px);
}

.menufooter .toggle-2{
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #2f363e;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    font-size: 2em;
    transition: transform 1.25s;
}

.menufooter.activeli .toggle-2{
    transform: rotate(360deg);
}
/*Scroll bar*/

::-webkit-scrollbar{
    width: .60rem;
    background-color: var(--scroll-bar-color);
    border-radius: .5rem;
}

::-webkit-scrollbar-thumb{
    background-color: var(--skin-color);
    border-radius: .5rem;


}

/*========== BREAKPOINTS ==========*/
/* For Large Devices */
@media screen and (max-width: 1408px) {
    .container{
        margin-left: var(--mb-2-5);
        margin-right: var(--mb-2-5);
    }
 

}

@media screen and (max-width: 1216px) {
    .about__container{
        column-gap: 2.5rem;
    }

    .about__description{
        padding-right: 0;
    }
}

@media screen and (max-width: 1024px) {

    .container{
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
    }

    .sidebar{
        width: 100%;
        z-index: 999;
        transform: translateX(-100%);

    }

    .show-sidebar{
        transform: translateX(0);
    }

    .nav__logo, .btn__share{
        display: none;
    }

    .nav__menu{
        height: 100%;
        width: 100%;
        transform: rotate(0deg) translate(0);
        display: flex;
        justify-content: center;
    }

    .nav__list{
        flex-direction: column;
        height: 100%;
        justify-content: center;
        align-items: center;
    }

    .nav__link{
        padding: 1rem 0;
        line-height: 1.5;

    }

    .nav__link.active-link::after, .nav__link:hover::after{
        bottom: 0;

    }

    .nav__close{
        display: block;
    }

    .nav__toggle{
        display: flex;
    }

    .main{
        margin-left: 0;
    }

    .about__container{
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img{
        width: 350px;
    }

    .about__data{
        text-align: center;
    }

    .about__info{
        justify-content: center;
    }

    .about__box{
        padding: .75rem .5rem;
    }

    .about__description{
        padding: 0 4rem;
        text-align: center;
    }

    .work__card{
        padding: 1rem;
    }

    .work__img{
        margin-bottom: var(--mb-0-75);
    }

    .work__title{
        margin-bottom: var(--mb-0-75);
    }


}

/* For Medium Devices */
@media screen and (max-width: 768px) {
    .about__img{
        width: 250px;
    }

    .portfolio__popup-inner{
        width: 420px;
        padding: 2.5rem 1.5rem 2.5rem;

    }

    .portfolio__popup-content{
        grid-template-columns: 1fr;
        row-gap: 1.6rem;
    }

    .details__title{
        font-size: var(--normal-font-size);

    }


}

@media screen and (max-width: 576px) {
    .nav__toggle{
        right: initial;
        left: 1.5rem;
    }

    .home{
        background-image: none;
        height: initial;
        align-items: initial;
        padding: 7rem 0 2rem;
    }

    article{
        flex-direction: column-reverse;
    }


    .home__container{
        row-gap: 2rem;
    }

    .home__img{
        margin-right: 40px;
        width: 250px;
        height: 250px;
    }

    .home__social{
        left: initial;
        right: -1rem;
        flex-direction: column;
        row-gap: 3.5rem;
    }

    .home__social-follow{
        font-size: var(--smaller-font-size);
        transform: rotate(90deg);
    }

    .home_social-links{
        flex-direction: column;
        row-gap: .1rem;
        margin-right: 20px;
    }

    .home__social-link{
        font-size: var(--normal-font-size);
    }

    .my__info{
        display: none;
    }

    .about__info{
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description{
        padding: 0;
    }

    .work__container{
        grid-template-columns: 300px;
    }
}

/* For Small Devices */
@media screen and (max-width: 350px) {
    .container{
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home__img{
        width: 200px;
    }

    .home__title{
        font-size: var(--h1-font-size);
    }

    .home__subtitle{
        font-size: var(--normal-font-size);
    }

    .about__info{
        grid-template-columns: repeat(1, 1fr);
        row-gap: .5rem;
    }

    .work__container{
        grid-template-columns: 1fr;
    
    }

    .work__item{
        font-size: var(--small-font-size);
    }

    .work__filters{
        column-gap: .25rem;
    }
}
